.main_section {
  display: none;
}
body {
  width: 100%;
  height: 100%;
  background-color: #0C0C0C;

  overflow-x: hidden;
}

/* account_section */
.account_section {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: 1.5s;
  overflow: hidden;
}
.account_section.active {
  opacity: 1;
}
.account_section .wrap {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* top */
.account_section .title {
  font-size: 52px;
  font-weight: 500;
  text-align: center;
  color: #e5e5e5;
  text-transform: capitalize;

  margin-bottom: 50px;
  cursor: default;
}
/* center */
.account_section .center {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.account_section .profile_box {
  margin: 0 20px;
  cursor: pointer;
}
.account_section .profile_box .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.account_section .profile .profile_image {
  width: 185px;
  height: 185px;
  border-radius: 7px;
  border: 4px solid transparent;
  overflow: hidden;

  line-height: 185px;
}
.account_section .profile_box .name {
  font-size: 42px;
  font-weight: 500;
  color: #808080;
}
/* bottom */
.account_section .bottom {
  width: 190px;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* border: 1px solid white; */
  color: #808080;
  text-align: center;

}
.account_section .bottom .list {
  width: 100%;
  cursor: pointer;
}
.account_section .bottom .list.active {
  color: white;
}
.account_section .bottom .list:hover {
  color: white;
}
/* hover */
.profile_box:hover .profile .profile_image {
  background-color: #e5e5e5;
}
.profile_box:hover .profile .name{
  color: black;
}

/* --------------------------------------- */
/* main_section */
.main_section {
  width: 100%;
  height: 100%; 
  background-color: #0C0C0C;
  opacity: 0;
  transition: 0.7s;
  overflow: hidden;
}
.sec {
  position: relative;
  z-index: 1;
  padding: 0 60px;
}
.banner_wrap { /* banner 크기만큼 백그라운드에 포스터 사진 적용 */
  width: 100%;
  /* height: 100vh; */
  position: relative;
  z-index: 0;
}
.banner_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.75);
}
.banner_bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(200, 200, 200, 0) 70%, #0C0C0C 100%);
  box-shadow: 0 0 200px rgb(12 12 12) inset;
}

/* --------------------------------------- */
/* header */
header {
  width: 100%;
  height: 62px;

  padding: 15px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: #e5e5e5;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* menu_list_left */
.menu_list_left {
  display: flex;
}
.menu_list_left .logo_box {
  width: 94px;
  /* margin-right: 45px; */
}
.menu_list_left .list {
  display: flex;
  align-items: center;
  
  font-size: 12px;
  text-transform: capitalize;

  margin-right: 15px;
}
.menu_list_left .list:hover {
  color: #808080;
  cursor: pointer;
}
/* menu_list_right */
.menu_list_right {
  display: flex;
}
.menu_list_right .list {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 3px;
  overflow: hidden;
  
  margin-right: 25px;
}
.menu_list_right .list img {
  width: 34px;
  height: 34px;
}
.menu_list_right .search svg {
  fill: white;
}
.menu_list_right .kids {
  font-size: 12px;
  text-transform: capitalize;
}
.menu_list_right .profile {
  margin-right: 0;
}
.menu_list_right .profile a {
  display: flex;
  align-items: center;
}
.menu_list_right .profile .arrow {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

/* --------------------------------------- */
/* center */
.banner {
  position: relative;
  z-index: 2;
}
.banner .center {
  width: 100%;
  height: 100%;

  padding-top: 135px;
}
.banner .center .video_content {
  width: 1500px;

  color: white;
}
.video_content .video_icon {
  /* width: 304px; */
  width: 100%;
  height: 287px;

  margin-bottom: 35px;
}
.video_content .title {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  cursor: default;
  display: inline-block;
}
.video_content .story {
  width: 670px;
  /* height: 84px; */
  
  font-size: 16px;
  line-height: 175%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  margin-bottom: 32px;
  cursor: default;
}
.video_content .btn_wrap {
  width: 390px;
  display: flex;
}
.video_content .btn {
  height: 58px;
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: capitalize;

  cursor: pointer;
}
.video_content .btn .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_content .wrap img {
  width: 37px;
  margin-right: 14px;
}
.video_content .play {
  width: 156px;
  
  color: #0C0C0C;
  background-color: white;
  
  margin-right: 15px;
}
.video_content .play img {
  width: 27px;
}
.video_content .more {
  width: 217px;
  color: white;
  background-color: #8080807e;
}
/* hover */
.video_content .btn:hover {
  filter: brightness(0.8);
}

/* --------------------------------------- */
.headtext {
  color: white;
  font-size: 23px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;

  /* margin-bottom: 15px; */
  cursor: default;
}

/* --------------------------------------- */
/* categories1 */
.categories1 {
  margin-top: 150px;
}

/* --------------------------------------- */
/* footer */
footer {
  width: 100%;
  padding: 67px 0 33px;
  background-color: #0C0C0C;
}
footer .footer_wrap {
  width: 996px;
  height: 100%;
  margin: 0 auto;

  color: #808080;
  font-weight: 200;
  text-transform: capitalize;
}
.footer_wrap .sns_icons {
  display: flex;
  margin-bottom: 30px;
}
.footer_wrap .sns_icons .icon {
  width: 49px;
  height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_wrap .sns_icons .icon img {
  object-fit: contain;
}
.footer_wrap .policy_list {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.footer_wrap .policy_list .list {
  width: calc(25%);
  height: 79px;
  font-size: 11px;
}
.footer_wrap .policy_list .list a {
  margin-bottom: 20px;
}
.footer_wrap .policy_list .list a:hover {
  text-decoration: underline;
  text-decoration-color: #808080;
}
.footer_wrap .service {
  width: 100px;
  height: 30px;
  border: 1px solid #808080;
  color: #808080;
  font-size: 11px;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 22px;
  cursor: pointer;
}
.footer_wrap .service:hover {
  color: white;
}
.footer_wrap .copy_text {
  cursor: default;
}
.footer_wrap .copy_text .text {
  font-size: 9px;
  margin-bottom: 8px;
}

/* --------------------------------------- */
/* new */
.new {
  width: 145px;
  height: auto;
  font-size: 12px;
  font-weight: 800;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0;

  background-color: #DF0D11;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;

  position: absolute;
  bottom: 0;
}
/* new add */
.new.en.added::before {
  content: 'recently added';
}
.new.ko.added::before {
  content: '새로 나온';
}
/* new season */
.new.en.year::before {
  content: 'this year';
}
.new.ko.year::before {
  content: '올해 개봉';
}
.new.year {
  width: 120px;
}
.categories5 .slide .new {
  width: 100%;
  bottom: -25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.categories2 {
  margin-top: 78px;
}
.categories3,.categories4, .categories5, footer {
  position: relative;
  margin-top: 73px;
  z-index: 1;
}


/* --------------------------------------- */
/* swiper */
.swiper {
  z-index: initial !important;
  padding-top: 25px !important;
  overflow: visible !important;

  --swiper-navigation-size: 34px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: white;
}
.categories5 .swiper {
  padding: 25px 0 !important;  
}
.swiper .slide {
  background-color: #808080;
  width: 294px;
  height: 400px;
  transform: none !important;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
}
.categories5 .slide {
  cursor: default;
}
.swiper .swiper-pagination {
  position: relative;
  text-align: end;
  top: 0 !important;
}
.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 0;
  background: #222;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper .bullet-active {
  background-color: #808080;
}
.swiper .swiper-button-next {
  right: -60px;
} 
.swiper-button-prev {
  left: -60px !important;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: calc(50% + 3px) !important;
  transform: translateY(-50%);
  width: 60px !important;
  height: 100% !important;
  margin-top: 0 !important;
  transition: 0.3s;
}

.swiper .swiper-button-next.on,
.swiper .swiper-button-prev.on {
  opacity: 0 !important;
}
.video_wrapper:hover ~ .swiper-button-next, 
.video_wrapper:hover ~ .swiper-button-prev {
  opacity: 1 !important;
}
.swiper .swiper-button-next:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.swiper .swiper-button-prev:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

/* categories5 */
.categories5 .slide {
  height: 320px;
}
.categories5 .swiper .slide::before {
  content: '';
  position: absolute;
  top: 24%;
  left: -75px;
  font-size: 200px;
  height: 100%;
  transform: translateY(-50%);
  z-index: -1;

  -webkit-text-stroke: 2px #808080;
}
.categories5 .swiper .slide:nth-child(1):before {
  content: '1';
  left: -80px;
}
.categories5 .swiper .slide:nth-child(2):before {
  content: '2';
}
.categories5 .swiper .slide:nth-child(3):before {
  content: '3';
}
.categories5 .swiper .slide:nth-child(4):before {
  content: '4';
}
.categories5 .swiper .slide:nth-child(5):before {
  content: '5';
}
.categories5 .swiper .slide:nth-child(6):before {
  content: '6';
}
.categories5 .swiper .slide:nth-child(7):before {
  content: '7';
}
.categories5 .swiper .slide:nth-child(8):before {
  content: '8';
}
.categories5 .swiper .slide:nth-child(9):before {
  content: '9';
}
.categories5 .swiper .slide:nth-child(10):before {
  content: '10';
  letter-spacing: -32px;
  left: -125px;
}

/* --------------------------------------- */
/* inbox */
.slide.active .slide_inbox {
  opacity: 1;
  z-index: 9;
}
.slide.active:last-child .slide_inbox {
  right: 0;
}
.slide:last-child .slide_inbox {
  left: auto;
  right: 0;
}
.slide_inbox {
  width: calc(200% + 16px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #0C0C0C;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  overflow: hidden;
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
  cursor: default;
}
.slide_inbox .top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scale: 1.4;
  object-position: center 55px;
}

.slide_inbox .top {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide_inbox .bottom {
  width: 100%;
  height: 53%;
  font-size: 13px;
  text-transform: capitalize;
  color: white;

  position: absolute;
  padding: 50px 20px 20px;
  bottom: 0;
  background: linear-gradient(0deg, black 35%, transparent);
}
.inbox .title_wrap {
  width: 100%;
  height: 42px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inbox .title_wrap .title {
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.inbox .icon_wrap .icon_left .icon:first-child {
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
}
.inbox .icon_wrap .icon {
  width: 42px;
  height: 42px;
  border: 2px solid #D9D9D9;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.inbox .icon_wrap .icon:last-child {
  margin-right: 0;
}
.inbox .icon_wrap .icon img {
  width: 18px;
}
.inbox .icon_wrap .icon:last-child img {
  width: 23px;
}
.inbox .match_list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.inbox .match_list .percent {
  margin-right: 8px;
  font-weight: 800;
  color: #41C161;
}

.inbox .genre_list {
  display: flex;
  font-size: 12px;
  margin-bottom: 20px;
}
.inbox .genre_list .list {
  margin-right: 18px;
}
.inbox .genre_list .list:last-child {
  margin-right: 0;
}
.inbox .like_list {
  display: flex;
  align-items: center;
}
.inbox .like_list .icon {
  width: 28px;
  height: 28px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 10px;
  border-radius: 5px;
}
.inbox .like_list .icon.h {
  background-color: #c32222;
}
.inbox .like_list .icon.m {
  background-color: #41c322;
}
.inbox .like_list .icon.l {
  background-color: #c36022;
}
.inbox .like_list .icon.b {
  background-color: #9a22c3;
}
.inbox .like_list .icon img {
  height: 23px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  /* 초기화면 */
  .account_section .title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .account_section .profile .profile_image {
    width: 145px;
    height: 145px;
    line-height: 145px;
  }
  .account_section .profile_box .name {
    font-size: 32px;
  }
  /* 메인화면 */
  header {
    height: auto;
    padding: 15px 60px;
  }
  .banner_bg {
    height: 70vh;
  }
  .banner .center .video_content {
    width: 100%;
  }
  .video_content .title {
    font-size: 2rem;
  }
  .video_content .story {
    width: 100%;
    word-break: keep-all;
  }
  .video_content .video_icon {
    height: 185px;
  }
  
  .swiper .swiper-button-next, 
  .swiper .swiper-button-prev {
    display: none;
  }
  .categories1 {
    margin-top: 100px;
  }

  footer {
    padding: 32px 24px;
  }
  footer .footer_wrap {
    width: 100%;
  }
  .footer_wrap .sns_icons {
    display: none;
  }
  .footer_wrap .service,
  .footer_wrap .policy_list {
    display: none;
  }
  .footer_wrap .copy_text {
    line-height: 10px;
  }
  .footer_wrap .copy_text .text {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  /* 초기화면 */
  .account_section .title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .account_section .profile .profile_image {
    width: 115px;
    height: 115px;
    line-height: 115px;
  }
  .account_section .profile_box .name {
    font-size: 25px;
  }
  .account_section .bottom {
    font-size: 13px;
  }
  /* 메인화면 */
  header {
    padding: 15px 24px;
  }
  .menu_list_left .logo_box {
    width: 74px;
  }
  .sec {
    padding: 0 24px;
  }
  .new {
    width: 65px;  
    font-size: 9px;
    padding: 2px 3px;
  } 
  .new.en {
    width: 87px;
  }
  .new.year {
    width: 70px;
  }

  .video_content .video_icon {
    height: 130px;
  }
  .video_content .story {
    font-size: 12px;
    word-break: break-all;
  }
  .video_content .title {
    width: 90%;
    font-size: 1.3rem;
    word-break: keep-all;
  }
  .headtext {
    font-size: 13px;
  }

  .categories1 {
    margin-top: 70px;
  }

  .swiper .slide {
    height: 190px;
  }
  .slide_inbox .top {
    filter: brightness(0.85);
  }
  .slide_inbox .top img {
    object-fit: cover;
    object-position: center;
    scale: 1;
  }
  .inbox .title_wrap {
    height: auto;
  }
  .inbox .title_wrap .title {
    font-size: 1.2rem;
  }
  .slide_inbox .bottom {
    height: 55%;
    font-size: 9px;
    padding: 0 12px;
  } 
  .inbox .match_list {
    margin-bottom: 5px;
  }
  .inbox .genre_list {
    font-size: 8px;
    margin-bottom: 10px;
  }
  .inbox .genre_list .list:nth-child(2) {
    margin-right: 0;
  }
  .inbox .genre_list .list:nth-child(3) {
    display: none;
  }
  .inbox .like_list .icon {
    width: 17px;
    height: 17px;
  }
  .inbox .like_list .icon img {
    height: 12px;
  }

  .categories5 .slide {
    width: 130px !important;
  }
  .categories5 .swiper .slide:nth-child(1):before {
    left: -40px;
  }
  .categories5 .swiper .slide::before {
    left: -45px;
    font-size: 100px;
  }
  .categories5 .swiper .slide:nth-child(10):before {
    letter-spacing: -12px;
    left: -75px;
  }
}